@model Person
@{
    ViewData["Title"] = "Person Details";
}

@*<h1>Person Details</h1>
<div class="row font-weight-bold mt-3 d-flex-column align-items-md-stretch">
    <div class="col-4 mt-2">Namn</div>
    <div class="col-4 mt-2">Phonenumber</div>
    <div class="col-4 mt-2">City</div>
    <div class="col-4 mt-2">Country</div>
</div>
<div class="row">
    <div class="col-4 mt-2">@Model.Name</div>
    <div class="col-4 mt-2">@Model.PhoneNumber</div>
    <div class="col-4 mt-2">@Model.City.CityName</div>
    <div class="col-4 mt-2">@Model.City.Country.CountryName</div>
</div>
<a asp-action="People" class="mt-6 text-primary">Back to the list of people</a>
<br />
<a class="mt-6 text-primary" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
|
<a class="mt-6 text-primary" asp-controller="People" asp-action="PersonLanguage" asp-route-id="@Model.Id">Person language</a>*@


<div class="card mt-5 mb-4 mx-auto" style="width: 400px;">
    <div class="card-header bg-dark text-white">
        Person Details
    </div>
    <div className="card-body">

        <p class="card-text mt-2">*<span class="font-weight-bold"> Name:</span> @Model.Name</p>
        <p class="card-text">*<span class="font-weight-bold"> City:</span> @Model.City.CityName</p>
        <p class="card-text">*<span class="font-weight-bold"> Country:</span> @Model.City.Country.CountryName</p>
        <p class="card-text mb-2">*<span class="font-weight-bold"> Phonenumber:</span> @Model.PhoneNumber</p>
        <p class="card-text mb-2">
            *<span class="font-weight-bold"> Person speeks:</span><a asp-action="PersonLanguage"
                                                                     asp-controller="People"
                                                                     asp-route-id="@Model.Id" class="mt-6 text-warning"> Languages </a>
        </p>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <a asp-action="People" class="mt-6 text-warning">Back</a>
        <hr />
        <a class="mt-6 text-warning" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
    <div className="card-footer"></div>
</div>
